.container {
    display: flex;
    flex-direction: column;
   height: 450px;
   width: 350px;
   background-color: rgb(244, 244, 244);
   align-items: center; 
   border-radius: 15px;

}

section {
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(120, 120, 209);
    border-radius:  10px 10px 0 0;
    padding: 10px 0 10px 0 ;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

